{% extends 'base.html' %}


{% block content %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nazwa firmy</th>
            <th>Rating</th>
            <th>Ulica</th>
            <th>Miasto</th>
            <th>Strona internetowa</th>
            <th>Telefon</th>
        </tr>
            {% for i in companies %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.rating}}</td>
                <td>{{i.street}}</td>
                <td>{{i.city}}</td>
                <td><a href="{{i.website}}">{{i.website}}</a></td>
                <td>{{i.phone}}</td>
            </tr>
            {% endfor %}
    </table>



{% endblock %}


