{% extends 'base.html' %}


{% block content %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nazwa firmy</th>
            <th>Lokalizacja</th>
            <th></th>

        </tr>
            {% for i in companies %}
            <tr>
                <td><a href="{% url 'company-detail' i.id %}">{{i.name}}</a></td>
                <td>{{i.street}}, {{i.city}}</td>
                <td><a href="{% url 'show-on-map' i.id %}">Pokaż na mapie</a></td>
            </tr>
            {% endfor %}
    </table>




{% endblock %}